* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr auto;
}

.header {
  background-color: black;
  grid-column: 1 / 2;
  grid-row: 1/3;
  padding: 40px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.header_icon {
  width: 100%;
  display: flex;
  align-items: center;
}

.header_icon span {
  padding: 15px;
  font-size: 30px;
}

.header_icon img {
  width: 60px;
  height: 60px;
}
.header_action,
.header_nav {
  margin-top: 30px;
}
.header_action div,
.header_nav li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.header_action div i,
.header_nav li i {
  width: 30px;
  font-size: 20px;
}
.header_download {
  margin-top: auto;
  padding: 5px 10px;
  margin-bottom: 120px;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.header_download i {
  margin-right: 10px;
  font-size: 20px;
}
.top_nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  color: white;
  background-color: rgb(43, 43, 43);
  align-items: center;
}
.top_nav div:first-child {
  font-size: 20px;
  display: flex;
  gap: 10px;
}
.top_nav_wrap {
  font-size: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.top_nav_wrap p {
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 25px;
}

.top_nav_wrap div {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(46, 45, 45);
  padding: 5px 15px;
  border-radius: 25px;
  position: relative;
}

.top_nav_wrap div i:first-child {
  background-color: rgb(109, 109, 109);
  border-radius: 50%;
  padding: 8px;
}
.content {
  grid-area: 2/2/3 / 3;
  background-color: rgb(43, 43, 43);
  padding: 15px 30px;
}

.component {
  margin-top: 40px;
}
.component_top {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.component_top p {
  font-size: 18px;
  color: #ccc;
}

.music_list {
  display: flex;
  gap: 40px;
}
.music_item {
  width: calc(100% / 6);
  padding: 20px;
  background-color: rgb(46, 46, 46);
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.music_item img {
  width: 100%;
  border-radius: 8px;
}
.item_title {
  font-size: 20px;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_singer {
  font-size: 25px;
  margin: 15px 0;
  color: #ccc;
}

.play_btn {
  font-size: 25px;
  color: black;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgb(94, 236, 189);
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 190px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s linear;
}
.music_item:hover .play_btn {
  opacity: 1;
  top: 175px;
}

.music_item:hover {
  background-color: rgb(56, 56, 56);
}

.playing_nav {
  background-color: black;
  height: 100px;
  grid-column: 1/3;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing_nav audio {
  width: 30%;
}
