* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 10px;
}

ul {
  list-style: none;
}

header {
  background-color: black;
  color: white;
  padding: 20px 10px;
}

ul {
  display: flex;
  gap: 15px;
  padding: 15px 0;
}

section {
  background-color: #ccc;
  padding: 25px 15px 15px;
}

section > h2 {
  font-size: 34px;
}

article {
  background-color: white;
  margin-bottom: 5px;
  padding: 15px;
}

article h2 {
  padding-bottom: 15px;
}

footer {
  background-color: black;
  color: white;
  padding: 15px;
}
