* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 1000px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
h2 {
  color: #7f00a5;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}
table {
  width: 100%;
  padding-top: 15px;
  font-size: 17px;
  border-top: 2px solid #7f00a5;
}
tr {
  border-bottom: 2px solid #e8e8e8;
}

table tr:first-child th:first-child,
tr td:first-child {
  text-align: left;
}

table tr:first-child th:nth-child(2),
tr td:nth-child(2) {
  text-align: center;
  width: 200px;
}

table tr:first-child th:last-child,
tr td:last-child {
  text-align: right;
  width: 200px;
}

table td {
  padding: 10px 0;
}

tr td {
  border-bottom: 1px solid #e8e8e8;
}
img {
  margin: 12px;
}
